/* Importing Styling Fonts */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Default Style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Utility Style */

.bg-body {
	background: rgb(237, 253, 242) !important;
}

.box-shadow {
	box-shadow: 3px 3px 12px rgb(135, 133, 133);
}

.contact-btn {
	background: rgba(0, 255, 94, 0.544);
	padding: 15px 30px;
	border-radius: 50px;
	border: none;
}

.close-btn {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 1.8rem;
	color: white;
	cursor: pointer;
}

.show {
	display: none;
}

.inherit {
	width: 100%;
	height: 90%;
	margin: 5px 0;
	border-radius: 10px;
}

.content-text {
	width: 40%;
	padding: 10px;
}

.image-container {
	width: 50%;
}

.dot {
	width: 20px;
	height: 20px;
	background: linear-gradient(rgb(128, 28, 0), rgb(111, 32, 1));

	margin: 2px 10px;
}

.form-control {
	border-color: black;
	border-radius: 5px;
}

.link {
	text-decoration: none;
}

.card-img {
	height: 300px;
	width: 60%;
	padding: 10px 0;
	margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: #0c6451ce;
	padding: 20px;
	font-size: 10px;
	border-radius: 100%;
}

.section-container {
	background: rgb(28, 0, 15);
}

/* Font Family Styles */
.ff-nunito {
	font-family: "Nunito Sans", sans-serif;
	font-weight: 700;
}
.ff-open-sans {
	font-family: "Open Sans", sans-serif;
	text-transform: capitalize;
}
.ff-alata {
	font-family: "Alata", sans-serif;
	font-size: 2.5rem;
}
.ff-montserrat {
	font-family: "Montserrat", sans-serif;
}

.ff-source-sans {
	font-family: "Source Sans 3", sans-serif;
	font-size: 1.3rem;
}

.ff-merriweather {
	font-family: "Merriweather", sans-serif;
}
.ff-merriweather-sans {
	font-family: "Merriweather Sans", sans-serif;
}
/* Base Styles */

body {
	font-family: Arial, sans-serif;
}

strong {
	color: rgb(25, 21, 16);
}
/* Section Styles */

/* Page Header */
.header {
	background-color: #000000;
	color: #fff;
}

/* Navbar Style */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid gray;
	background: linear-gradient(rgba(0, 0, 0, 0.485), rgba(25, 23, 23, 0.708));
}

.logo {
	width: 100px;
	height: 70px;
}

.menu-container {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.menu-item {
	margin-left: 20px;
}

.nav-link {
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
	transition: color 0.3s;
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.1rem;
}

.nav-link:hover {
	color: #14eb00;
}

/* Sidebar Style */
.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
	background-color: #08021cfb;
	padding: 50px 10px;
	transform: translateX(0%);
	transition: transform 0.3s ease;
	z-index: 999;
}

.sidebar.show {
	transform: translateX(100%);
}

.sidebar .nav-link {
	color: #fff;
	padding: 10px 0;
}

.sidebar .nav-link:hover {
	color: #ddd;
}

/* Hero Section Styles*/

.hero-section {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.54)),
		url("../image/background/hero-image.jpg");
	background-size: 100% 100%;
	width: 100%;
}

.hero-content {
	width: 60%;
}
.hero-text {
	text-align: justify;
}

/* About Section */

.about-section {
	min-height: 60vh;
	position: relative;
}

.about-image {
	height: 250px;
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/* Mission Section  Style */

.our-mission {
	min-height: 85vh;
	padding: 50px 0;
	gap: 10px;
}
.mission-image {
	width: 70%;
}

/* Vision Section Style */

.our-vision {
	min-height: 50vh;
}

/* VIMORA Slogan Style */

.vimora-slogan {
	min-height: 30vh;
}

/* Core Value Section Style */

.core-value {
	min-height: 60vh;
}

.value-chart {
	width: 40%;
	height: 400px;
	margin-left: auto;
}
.value-chain {
	gap: 5px;
	width: 40%;
	margin-right: auto;
}

/* Product Section Style */
.our-product {
	min-height: 80vh;
	padding: 50px 10px;
}

/* Service Section Style */

.our-service {
	min-height: 50vh;
}

.service-container {
	gap: 20px;
}

.service-card {
	min-width: 200px;
}

.service-icon {
	width: 100%;
	height: 100px;
}

/* Contact Us Section Style */

.contact-us {
	gap: 15px;
	min-height: 60vh;
}

.contact-form {
	width: 50%;
}

.location-container {
	width: 50%;
}

.company-location {
	display: flex;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	border-radius: 5px;
}

/* Contact Info Section Style */

.contact-info {
	min-height: 40vh;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.info {
	gap: 10px;
	max-width: 300px;
}

/* Footer Section Style */

.footer {
	font-family: "Merriweather Sans", sans-serif;
	background-color: #343a40;
	color: #ffffff;
	border-top: 1px solid #444;
}

.footer h3,
.footer h4 {
	font-family: "Alata", sans-serif;
	margin-bottom: 1rem;
}

.footer .follow-us .brand-icon {
	font-size: 1.5rem;
	transition: color 0.3s;
}

.footer .follow-us .brand-icon:hover {
	color: #ffc107;
}
.footer-logo {
	width: 300px;
}
.footer .content-container .logo img {
	width: 300px;
	height: 250px;
}

.footer .quick-links ul,
.footer .contact-info ul {
	list-style: none;
	padding: 0;
}

.footer .quick-links ul li,
.footer .contact-info ul li {
	margin-bottom: 0.5rem;
}

.footer .quick-links ul li a,
.footer .contact-info ul li a {
	color: #ffffff;
	text-decoration: none;
	transition: color 0.3s;
}

.footer .quick-links ul li a:hover,
.footer .contact-info ul li a:hover {
	color: #ffc107;
}

.footer .contact-info ul li i {
	margin-right: 0.5rem;
}

/* Media Query for Small Screen */

/* Media Query for Medium and Large Screen */

/* Functionality Styles */

/* Mobile and Tablet Screen*/

@media (max-width: 768px) {
	/* Utitlity Style */
	.image-container {
		gap: 10px;
		width: 98%;
	}
	.content-text {
		width: 100%;
		text-align: center;
	}
	.p {
		text-align: justify;
	}

	.section-container {
		width: 97%;
	}

	/* Header Style */

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/* Navbar Style */
	.navbar-toggler {
		background-color: #333;
		border: none;
	}
	.menu-container {
		display: none;
	}

	.navbar-toggler-icon {
		color: #fff;
	}

	/* Hero Section Style */

	.hero-content {
		width: 90%;
	}

	/* About Section Style */

	.about-content {
		flex-direction: column;
	}
	.about-image {
		height: 170px;
		width: 90%;
	}
	.about-heading {
		position: absolute;
		top: 40px;
		text-align: center;
		width: 90%;
	}

	/* Mission Section Style */

	.mission-content {
		margin-top: 30px;
	}

	.mission-heading {
		position: absolute;
		width: 90%;

		top: -10px;
		text-align: center;
	}
	.mission-image {
		width: 100%;
	}
	.mission-content {
		flex-direction: column !important;
	}
	.list-content {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.list-content li {
		text-align: start;
	}

	/* Core Value Section */

	.core-value {
		flex-direction: column;
		border-top: 1px solid;
	}
	.value-chart {
		margin: 0;
		width: 90%;
		height: 250px;
	}
	.value-chain {
		width: 100%;
	}

	/* Contact Section Style */
	.contact-us {
		flex-direction: column;
	}
	.contact-form,
	.location-container {
		width: 100%;
	}
	.location-container {
		height: 400px;
	}
	.company-location {
		width: 100%;
	}

	/* Contact Info Style */

	.contact-info {
		flex-direction: column;
		justify-content: center;
		width: 90%;
		margin: auto;
		gap: 20px;
		padding: 50px 10px;
	}
	/*Footer Section Style */

	.footer-logo {
		width: 90%;
	}
	.contact-info-container h4 {
		margin: auto;
		width: 100%;
		text-align: center !important;
	}
	.contact-info-container ul li {
		text-align: center;
	}

	.contact-info-container ul li a.link {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.contact-info-container ul li a.link .fa-solid {
		font-size: 1.4rem;
	}
	.footer .content-container {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.footer .content-container .logo,
	.footer .content-container .quick-links,
	.footer .content-container .contact-info {
		width: 100%;
		margin-bottom: 2rem;
	}

	.footer .content-container .contact-info {
		max-width: none;
	}
}

/* Media Queries for Tablet and Laptop Screen */

@media screen and (min-width: 768px) and (max-width: 1224px) {
	/* Utility Style */

	.image-container {
		width: 100%;
		display: flex;
		gap: 10px;
		padding: 5px 10px;
	}

	.p {
		width: 100%;
		text-align: justify;
		font-size: 1.4rem;
	}

	.content-text {
		width: 100%;
	}
	/* Sidebar Style */

	.sidebar {
		width: 30%;
	}

	/* About Section Style */

	.about-content {
		width: 100%;
		flex-direction: column-reverse;
	}
	.about-heading {
		text-align: center;
		margin: 20px 0;
	}

	/* Mission Section */

	.mission-content {
		flex-direction: column-reverse !important;
	}
	.mission-image {
		width: 100%;
	}
	.mission-heading {
		text-align: center;
	}

	/* Core Value Section */

	.core-value {
		flex-direction: column;
	}
	.core-value img {
		margin: auto !important;
		width: 90%;
	}
	.value-chain {
		width: 90%;
		margin: auto !important;
	}

	/* Contact Us Section */
	.contact-us {
		flex-direction: column !important;
	}

	.contact-form {
		width: 90%;
		margin: auto;
	}
	.location-container {
		width: 100%;
	}
	.company-location {
		height: 500px;
		width: 100%;
	}
}
